.about{
    background-image: url(../../assets/Reversed-blue.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: center;
    background-size: cover;
    box-shadow: -1px 10px 28px 3px rgba(109,213,250,0.84);
}

@media only screen and (max-width: 1150px){
    .leftAbout{
        height: auto;
    }
    .rightAbout{
        height: auto;
    }
    .rightAbout h1{
        font-weight: 600;
        font-size: 30px;
    }
    .rightAbout p{
        line-height: 30px;
    }
    .para{
        font-size: 16px;
    }
    .download,.view{
        padding: 10px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 760px){
    .leftAbout{
        height: auto;
        width: 30%;
    }
    .outerAboutSquare{
        background-color: transparent;
    }
    .rightAbout{
        height: auto;
        width: 70%;
    }   
}

@media only screen and (max-width: 628px){
    .rightAbout h1{
        font-size: 20px;
    }
    .para{
        font-size: 14px;
    }
    .download,.view{
        padding: 8px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 538px){
    .outerAboutSquare{
        width: 250px;
        height: 250px;
    }
    .innerAboutSquare{
        width: 200px;
        height: 200px;
    }
    .para{
        font-size: 12px;
    }
    .download,.view{
        padding: 6px;
        font-size: 10px;
    }
    .rightAbout p{
        line-height: 20px;
    } 
}

@media only screen and (max-width: 407px){
    .about{
        display: block;
        height: 55vh;
        font-weight: 600;
    }
    .leftAbout{
    display: none;
    }
    .outerAboutSquare{
        background-color: #c2ebfe;

    }

    .rightAbout{
        justify-content: flex-start;
        width: 100%;
        padding: 10px;
        height: 50vh;
    }  
   
}

